@import './common.scss';

html {
  background-color: #f3f2f0;
}

.boardcontainer {
  position: relative;
  margin: 30px auto 0 auto;
  max-width: 50vw;
  padding-bottom: 50px;
  box-shadow: 3px 3px 15px -5px rgba(0, 0, 0, 0.8);
  background-color: #fff;
  border-radius: 15px;
}

.articleTitle {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 30px 20px;
  color: #000;
  .articleTitleDesc {
    margin-top: 10px;
    font-size: 0.6em;
    color: gray;
  }
}

.articleList {
  overflow-x: auto;
  table {
    border-collapse: separate;
    border: 1px solid #f1f1f1;
    border-top: 3px solid lightgreen;
    border-spacing: 0 10px;
    width: 100%;
    text-align: center;
    td {
      font-size: 1.2em;
      color: darkgrey;
      font-weight: 600;
      padding-top: 10px;
      height: 40px;
    }
    tr {
      &:hover {
        background: #f1f1f1;
      }
      color: #000;
    }
    .test {
      color: purple;
      width: 650px;
    }
  }
}

.articles {
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
  width: 100%;
  overflow: hidden;
  font-size: 0.9em;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    font-weight: 600;
    color: #000;
  }
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

  .pagination {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    color: coral;

    &:hover {
      background: black;
      color: #fff;
    }
    &.active {
      background: black;
      color: #fff;
    }
  }
}

.contents {
  margin: 30px auto 0;
  border: 1px solid #f1f1f1;
  border-bottom: 3px solid lightgreen;
  border-top: 3px solid lightgreen;
  text-align: center;
  height: 400px;
  max-width: 1000px;
  font-weight: normal;
  .header {
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-align: left;
    font-size: 0.7em;
    font-weight: normal;
    height: 40px;
    background-color: rgb(187, 251, 187);
  }
  .contents-view {
    display: flex;
    margin-top: 15px;
    align-items: flex-start;
    height: 90%;
  }
}

.post-react {
  display: flex;
  justify-content: center;
  .like-button {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 1px solid #f1f1f1;
    background: lightblue;
    outline: none;
    margin-right: 15px;
    cursor: pointer;
    &:hover {
      background-color: royalblue;
      color: #f1f1f1;
    }
  }
  .hate-button {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    outline: none;
    border: 0;
    background: lightcoral;
    outline: none;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    &:hover {
      background-color: palevioletred;
      color: #f1f1f1;
    }
  }
}

.comment-wrapper {
  // height: 30vh;
  font-weight: bold;
  width: 100%;

  .comment-counter {
    margin-left: 20px;
  }

  .comment-header {
    background-color: lightgreen;
    font-size: 16px;
    padding: 10px 0px 10px 10px;
  }
  .comment {
    margin: 0 18px;
    margin-top: 20px;
    border: 1px solid #f1f1f1;
    word-wrap: break-word;
    height: 100px;
    &.reply {
      // border: 1px solid red;
      margin-left: 30px;
    }
  }
  .reply-content {
    font-size: 1em;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: normal;
  }
  .comment-input-wrapper {
    margin: 20px 18px 0;
    .comment-input {
      border: 1px solid #e1e1e1;
      width: 100%;
      padding-bottom: 30px;
      resize: none;
      // height: 100px;
      // text-align: right;
    }
  }
  .comment-button-wrapper {
    width: 100px;
    text-align: center;
    margin: 25px auto 0;
    .comment-button {
      width: 50px;
      height: 30px;
      border: 1px solid #f1f1f1;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
      background-color: skyblue;
      &:hover {
        background: rgb(187, 251, 187);
        transition: all 0.5s ease-out;
      }
    }
  }
}
